<!DOCTYPE html>
<html>
<head>
    <title>Lichess User Rating History</title>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Lichess User Rating History</h1>
    <a href="{{ url_for('user_summary_table') }}"><button>View Player Performance Summary</button></a><br/>
    <a href="{{ url_for('display_dataframe') }}"><button>View DataFrame</button>
    <form id="filter-form" method="post">
        <label for="username">Enter Username:</label>
        <input type="text" name="username" id="username" value="{{ username }}" onchange="submitForm(this.form)">
        <br>
        <label for="format">Select Format:</label>
        <select name="format" id="format" onchange="submitForm(this.form)">
            <option value="Bullet" {% if format_choice == 'Bullet' %} selected {% endif %}>Bullet</option>
            <option value="Blitz" {% if format_choice == 'Blitz' %} selected {% endif %}>Blitz</option>
            <option value="Rapid" {% if format_choice == 'Rapid' %} selected {% endif %}>Rapid</option>
            <option value="Classical" {% if format_choice == 'Classical' %} selected {% endif %}>Classical</option>
            <option value="Puzzles" {% if format_choice == 'Puzzles' %} selected {% endif %}>Puzzle</option>
        </select>
    </form>
    
    <!-- Plotly chart will be drawn inside this div -->
    {{ plot | safe }}

    <script>
        function submitForm(form) {
            form.method = 'post'; // Set the form method to POST
            form.submit();
        }
    </script>
</body>
</html>